body{
    background-color: #fff;
    font-family: inter;
 }
 
 
 .itemList{
    width: 80vw;
    min-height: 12vh;
    margin-left: 10vw;
    margin-top: 20vh;
 }
 
 
 .item{
    width: auto;
    height: 10vh;
 }
 
 
 .firstItem{
    border-top-left-radius: 3vh;
    border-top-right-radius: 3vh;
 }
 .lastItem{
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
 }
 
 
 .even{
    background-color: #D9D9D9;
 }
 
 
 .odd{
    background-color: #fff;
 }
 
 
 .itemName{
    font-size: 4vh;
    padding-top: 2.5vh;
    padding-left: 5vw;
    padding-bottom: 2.5vh;
 }
 
 
 .description{
    font-size: 2vh;
 }
 